.registro-card {
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.95);
}

.caja {
    background: linear-gradient(135deg, var(--third-color) 0%, #ffffff 100%);
    min-width: 100vw;
}